

.text1{
    color: black;
    background-color: #b81bb8;
    padding: 20px 20px 20px 20px;
    border: 1px;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}
.text2{

    color: white;
    background-color: rgb(40, 5, 71);
    padding: 20px 20px 20px 20px;
    border: 1px;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}

.text3{
    color: white;
    background-color: rgb(91, 87, 94);
    padding: 20px 20px 20px 20px;
    border: 1px;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}